.inline{
	display: inline-block;
	vertical-align: top;
}

.block{
	display: block;
}

.fill{
	display: block;
	width: 100%;
}
.animate-all{
    -webkit-transition: .25s ease-out all;
    -moz-transition: .25s ease-out all;
    -o-transition: .25s ease-out all;
    transition: .25s ease-out all;
}

.emboss{
		text-shadow: -1px -1px rgba(0,0,0,.5);

		&:hover{
			text-shadow: 0 0 ;
		}
}

.pull-right{
	float:right;
}
