.inline{
	display: inline-block;
	vertical-align: top;
}

.block{
	display: block;
}

.fill{
	display: block;
	width: 100%;
}
.animate-all{
    transition: all 1.4s linear;
}

.emboss{
		text-shadow: -1px -1px rgba(0,0,0,.5);

		&:hover{
			text-shadow: 0 0 ;
		}
}

.pull-right{
	float:right;
}
