.inline {
  display: inline-block;
  vertical-align: top;
}
.animate-all {
  -webkit-transition: 0.25s ease-out all;
  -moz-transition: 0.25s ease-out all;
  -o-transition: 0.25s ease-out all;
  transition: 0.25s ease-out all;
}
/**
TYPOGRAPHY
----
This section describes the base type elements 
including type modifiers. Some of the styling 
has been borrowed from Bootstrap and Foundation.

TODO:

* media queries
* expand "other elements"

**/
body {
  color: #222222;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Segoe UI', Verdana, Arial, sans-serif;
}
body {
  background-image: -webkit-linear-gradient(#eeeeee 0.05em, transparent 0.05em);
  -webkit-background-position: 100% 0%;
  -webkit-background-size: 100% 1.5em;
}
a {
  color: #b5512d;
}
a.secondary {
  color: #4965d6;
}
a.secondary:hover {
  color: #3453d1;
}
a.muted {
  color: #222222;
}
a.muted:hover {
  color: #58595b;
}
a.no-underline {
  text-decoration: none;
}
a.no-underline:hover {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #a14828;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  margin: 0.75em 0;
  line-height: 1.5em;
  font-weight: bold;
  color: #b5512d;
  text-rendering: optimizelegibility;
}
h1 .sub-header,
h2 .sub-header,
h3 .sub-header,
h4 .sub-header,
h5 .sub-header,
h6 .sub-header {
  font-weight: normal;
  font-size: 0.85em;
  line-height: 1;
  color: #58595b;
}
h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.75em;
}
p {
  margin: 0 0 0.75em;
}
ul,
ol {
  padding: 0;
  margin: 0 0 0.75em 25px;
}
.square-list {
  list-style-type: square;
}
.circle-list {
  list-style-type: circle;
}
.disc-list {
  list-style-type: disc;
}
.no-bullet {
  list-style-type: none;
  margin-left: 0;
}
.inline-list {
  margin-left: 0;
  list-style: none;
}
.inline-list > li {
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
  padding-right: 5px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 1.5em;
}
hr {
  margin: 1.5em 0;
  border: 0;
  border-top: 1px solid #58595b;
  border-bottom: 1px solid #98999b;
  clear: both;
}
hr.hr-highlight {
  border-top: 1px solid #b5512d;
}
hr.hr-dark {
  border-top: 1px solid #222222;
  border-bottom: 1px solid #58595b;
}
hr.hr-simple {
  border-bottom: 0;
  border-top: 1px solid #98999b;
}
blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 15px;
  border-left: 5px solid #e6e6e6;
}
blockquote cite {
  display: block;
  color: #98999b;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
  color: #000000;
}
blockquote.bq-aside {
  max-width: 25%;
  float: left;
  margin: 0.75em 1.5em;
  margin-left: 0;
  font-size: 1.25em;
  font-weight: bold;
}
pre {
  margin: 1.5em 0;
  padding: .75em 1.5em;
  background: rgba(0, 0, 0, 0.1);
}
.container {
  width: 56em;
  display: block;
  margin: 0 auto;
}
.row {
  width: 100%;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-22 {
  margin: 0 3% 0 0;
  display: block;
  float: left;
}
.last {
  margin: 0%;
}
.shaded {
  background-color: #58595b;
  height: 15px;
}
.col-1 {
  width: 5.5%;
}
.col-2 {
  width: 14%;
}
.col-3 {
  width: 22.5%;
}
.col-4 {
  width: 31%;
}
.col-5 {
  width: 39.5%;
}
.col-6 {
  width: 48%;
}
.col-7 {
  width: 56.5%;
}
.col-8 {
  width: 65%;
}
.col-9 {
  width: 73.5%;
}
.col-10 {
  width: 82%;
}
.col-11 {
  width: 90.5%;
}
.col-12 {
  width: 99%;
  margin: 0;
}
/**
Button
---------

**/
.button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  line-height: 1.5em;
  cursor: pointer;
  background: #222222;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 12px;
}
.button.secondary {
  background: #4965d6;
  color: #ffffff;
}
.button.secondary:hover {
  background: #3453d1;
  color: #ffffff;
}
.button.main {
  color: #ffffff;
  background: #b5512d;
}
.button.main:hover {
  background: #a14828;
}
.button:hover {
  text-decoration: none;
  color: #ffffff;
  background: #222222;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.25s ease-out all;
  -moz-transition: 0.25s ease-out all;
  -o-transition: 0.25s ease-out all;
  transition: 0.25s ease-out all;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
}
/*
 * Navbar
 *
 * structure:
 *
 * .nav-container
 * .nav
 * ul
 * li
 * a
 */
.nav-container .nav {
  width: 56em;
  margin: 0 auto;
}
.nav-main {
  background: #b5512d;
}
.nav-main li a {
  color: #ffffff;
}
.nav-secondary {
  background: #4965d6;
}
.nav-secondary li a {
  color: #e6e6e6;
}
.nav-grey {
  background: #58595b;
}
.nav-grey li a {
  color: #e6e6e6;
}
.nav-white {
  background: #ffffff;
}
.nav-white li a {
  color: #b5512d;
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav ul li {
  display: inline-block;
  vertical-align: top;
  margin-left: -3px;
}
.nav ul li:first-child {
  margin-left: 0;
}
.nav ul li a {
  display: block;
  line-height: 3em;
  text-decoration: none;
  padding: 0 15px;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
}
.nav ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-transition: 0.25s ease-out all;
  -moz-transition: 0.25s ease-out all;
  -o-transition: 0.25s ease-out all;
  transition: 0.25s ease-out all;
}
.footer {
  background: #222222;
  color: #e6e6e6;
  padding: .75em 0;
}
